<router-outlet></router-outlet>
<!-- Footer -->
<div style="background-color:#B8EAC7;">
<footer class="page-footer font-small mdb-color pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
        <!-- Grid column -->
        <div class="col-3 lg-10 xl-3 mx-auto mt-3">
          <h6 class="text-uppercase font-weight-bold">¿Quiénes somos?</h6>
          <p>Somos una red de apoyo de mujeres para mujeres comprometidas a ir de la mano de cada mujer que haya sufrido abusos. Trabajar en defensa de la salud y los
            derechos de las mujeres, y por la erradicación de las múltiples formas de violencia de género</p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->
        <div class="col-md-2 col-lg-10 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Especialistas</h6>
          <p>
            <a href="#!">Tú cuenta de especialista</a>
          </p>
          <p>
            <a routerLink='/specialist'>Nuestros especialistas</a>
          </p>
          <p>
            <a href="#!">Ayuda</a>
          </p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-10 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Madrinas</h6>
          <p>
            <a href="#!">Tu cuenta de madrina</a>
          </p>
          <p>
            <a routerLink='/registergodmothers'>Acerca de las madrinas</a>
          </p>
          <p>
            <a href="#!">Ayuda</a>
          </p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-6 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contáctanos</h6>
          <p>
            <i class="fas fa-envelope mr-3"></i> soporte@mulebri.cl
          </p>
          <p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Footer links -->
      <hr>
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="">
          <!--Copyright-->
          <p class="text-center">Hecho por Rosario Wrobel, Marcela Tancara, Linda Rizo y Giselle Rizo © 2020 Copyright
            <a href="https://mdbootstrap.com/">
              <strong> Todos los derechos reservados</strong>
            </a>
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-5 col-lg-6 ml-lg-0">
          <!-- Redes sociales buttons
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>-->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
  </footer>
  <!-- Footer -->
</div>
