<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #90107F;">
  <div routerLink='/home'>
    <img width="100" alt="moon-gold Logo" src="../assets/img/mulebrisLogo.png"/>
  </div>

<div class='role'>
  <button type="button" routerLink='/timegodmothers' class="btn mr-2"style="background-color: #EBEBE3;">Madrinas</button>
  <button type="button" routerLink='/specialist' class="btn mr-2"style="background-color: #EBEBE3;">Especialistas</button>
  <button type="button" routerLink='/donation' class="btn"style="background-color: #EBEBE3;">Donar</button>
</div>
<!--Hamburguesa-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <div class="d-flex justify-content-end">
      <ul class="navbar-nav ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ingresar
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink='/PatientRegisterComponent' href="#">Como paciente</a>
            <a class="dropdown-item"routerLink='/registergodmothers' href="#">Como Madrina</a>
            <a class="dropdown-item"routerLink='/RegisterSpecialistComponent' href="#">Como Especialista</a>
          </div>
        </li>
      </ul>
    </div>

     <div class="d-flex justify-content-end">
    <ul class="navbar-nav ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Registrarse
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink='/PatientRegisterComponent' href="#">Como paciente</a>
          <a class="dropdown-item"routerLink='/registergodmothers' href="#">Como Madrina</a>
          <a class="dropdown-item"routerLink='/RegisterSpecialistComponent' href="#">Como Especialista</a>
        </div>
      </li>
    </ul>
  </div>
  </div>

</nav>

