<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg navbar-light navS">
  <div routerLink='/home'>
    <img width="100" alt="Mulebris" src="../assets/img/mulebrisLogo.png" />
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="d-flex justify-content-end ml-5 mr-3">
          <button type="button" routerLink='/timegodmothers' class="btn mt-1 opa">Madrinas</button>
        </div>
      </li>
      <li class="nav-item">
        <div class="d-flex justify-content-end  mr-3">
          <button type="button" routerLink='/specialist' class="btn mt-1 opa">Especialistas</button>
        </div>
      </li>
      <li class="nav-item">
        <div class="d-flex justify-content-end mr-3">
          <button type="button" routerLink='/donations' class="btn mt-1 opa">Donar</button>
        </div>
      </li>
      <li class="nav-item dropdown">
        <div class="d-flex justify-content-end">
          <div class="dropdown">
            <button class="btn btn-outline mt-1 ml-5 mr-3 dropdown-toggle opa" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              style="border-color: #C60F8E;">
              ingresar
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalPacienteForm">Como paciente</a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalMadrinaForm">Como Madrina</a>
              <a class="dropdown-item" href="#" data-target="#modalEspecialistaForm">Como Especialista</a>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <div class="d-flex justify-content-end">
          <div class="dropdown">
            <button class="btn btn-outline mt-1 mr-3 dropdown-toggle opa" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              style="border-color: #C60F8E;">
              Registrarse
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" routerLink='/patientregister'>Como paciente</a>
              <a class="dropdown-item" href="#" routerLink='/registergodmothers'>Como Madrina</a>
              <a class="dropdown-item" href="#" routerLink='/registerspecialist'>Como Especialista</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!--Modal de Paciente-->
<div class="modal fade" id="modalPacienteForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #79C27B;">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Ingresar como<h4 class="modal-title w-100 font-weight-bold"
            style="color: #90107F;">paciente</h4>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-2">
        <div class="md-form mb-3">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="orangeForm-name" class="form-control validate" placeholder="E-mail o Nombre">
          <label data-error="wrong" data-success="right" for="orangeForm-name"></label>
        </div>

        <div class="md-form mb-3">

          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control validate" placeholder="Contraseña">
          <span class="psw">Olvide mi ¿<a href="#">Contraseña</a>?</span>
          <label data-error="wrong" data-success="right" for="orangeForm-pass"></label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn" style="background-color: #EBEBE3;">Iniciar sesión</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de madrina-->
<div class="modal fade" id="modalMadrinaForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #79C27B;">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Ingresar como<h4 class="modal-title w-100 font-weight-bold"
            style="color: #90107F;">madrina</h4>
        </h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-2">
        <div class="md-form mb-3">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="orangeForm-name" class="form-control validate" placeholder="E-mail o Nombre">
          <label data-error="wrong" data-success="right" for="orangeForm-name"></label>
        </div>

        <div class="md-form mb-3">

          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control validate" placeholder="Contraseña">
          <span class="psw">Olvide mi ¿<a href="#">Contraseña</a>?</span>
          <label data-error="wrong" data-success="right" for="orangeForm-pass"></label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn" style="background-color: #EBEBE3;">Iniciar sesión</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de Especialista-->
<div class="modal fade" id="modalEspecialistaForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #79C27B;">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Ingresar como<h4 class="modal-title w-100 font-weight-bold"
            style="color: #90107F;">especialista</h4>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-2">
        <div class="md-form mb-3">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="orangeForm-name" class="form-control validate" placeholder="E-mail o Nombre">
          <label data-error="wrong" data-success="right" for="orangeForm-name"></label>
        </div>

        <div class="md-form mb-3">

          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control validate" placeholder="Contraseña">
          <span class="psw">Olvide mi ¿<a href="#">Contraseña</a>?</span>
          <label data-error="wrong" data-success="right" for="orangeForm-pass"></label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn" style="background-color: #EBEBE3;">Iniciar sesión</button>
      </div>
    </div>
  </div>
</div>
