<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #90107F;">
  <div routerLink='/home'>
    <img width="100" alt="moon-gold Logo" src="../assets/img/mulebrisLogo.png" />
  </div>

  <div class='role'>
    <button type="button" routerLink='/timegodmothers' class="btn mr-2  ml-5 opa"
      style="background-color: #EBEBE3;">Madrinas</button>
    <button type="button" routerLink='/specialist' class="btn mr-2 opa"
      style="background-color: #EBEBE3;">Especialistas</button>
    <button type="button" routerLink='/donations' class="btn mr-5 opa" style="background-color: #EBEBE3;">Donar</button>
  </div>
  <!--Hamburguesa-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <div class="d-flex justify-content-end">
    <div class="dropdown">
      <button class="btn btn-outline dropdown-toggle opa" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-color: #C60F8E; background-color: #EBEBE3">
        ingresar
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalPacienteForm">Como paciente</a>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalMadrinaForm">Como Madrina</a>
        <a class="dropdown-item" href="#" data-target="#modalEspecialistaForm">Como Especialista</a>
      </div>
    </div>
  </div>

      <div class="d-flex justify-content-end">
      <div class="dropdown">
        <button class="btn btn-outline dropdown-toggle opa" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" style="border-color: #C60F8E; background-color: #EBEBE3">
        Registrarse
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" routerLink='/patientregister'>Como paciente</a>
          <a class="dropdown-item" href="#" routerLink='/registergodmothers'>Como Madrina</a>
          <a class="dropdown-item" href="#" routerLink='/registerspecialist'>Como Especialista</a>
        </div>
      </div>
    </div>

<!--Modal de Paciente-->
<div class="modal fade" id="modalPacienteForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #79C27B;">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Ingresar como<h4 class="modal-title w-100 font-weight-bold"
            style="color: #90107F;">paciente</h4>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-2">
        <div class="md-form mb-3">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="orangeForm-name" class="form-control validate" placeholder="E-mail o Nombre">
          <label data-error="wrong" data-success="right" for="orangeForm-name"></label>
        </div>

        <div class="md-form mb-3">

          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control validate" placeholder="Contraseña">
          <span class="psw">Olvide mi ¿<a href="#">Contraseña</a>?</span>
          <label data-error="wrong" data-success="right" for="orangeForm-pass"></label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn" style="background-color: #EBEBE3;">Iniciar sesión</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de madrina-->
<div class="modal fade" id="modalMadrinaForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #79C27B;">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Ingresar como<h4 class="modal-title w-100 font-weight-bold"
            style="color: #90107F;">madrina</h4>
        </h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-2">
        <div class="md-form mb-3">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="orangeForm-name" class="form-control validate" placeholder="E-mail o Nombre">
          <label data-error="wrong" data-success="right" for="orangeForm-name"></label>
        </div>

        <div class="md-form mb-3">

          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control validate" placeholder="Contraseña">
          <span class="psw">Olvide mi ¿<a href="#">Contraseña</a>?</span>
          <label data-error="wrong" data-success="right" for="orangeForm-pass"></label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn" style="background-color: #EBEBE3;">Iniciar sesión</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de Especialista-->
<div class="modal fade" id="modalEspecialistaForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #79C27B;">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Ingresar como<h4 class="modal-title w-100 font-weight-bold"
            style="color: #90107F;">especialista</h4>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-2">
        <div class="md-form mb-3">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="orangeForm-name" class="form-control validate" placeholder="E-mail o Nombre">
          <label data-error="wrong" data-success="right" for="orangeForm-name"></label>
        </div>

        <div class="md-form mb-3">

          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control validate" placeholder="Contraseña">
          <span class="psw">Olvide mi ¿<a href="#">Contraseña</a>?</span>
          <label data-error="wrong" data-success="right" for="orangeForm-pass"></label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn" style="background-color: #EBEBE3;">Iniciar sesión</button>
      </div>
    </div>
  </div>
</div>
