<app-navbar></app-navbar>
<div class="d-flex justify-content-center">
  <h1>Dona en MULEBRIS</h1>
</div>
<!-- Grid column -->
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="/assets/img/girl-power.jpeg" alt="">
        </div>
      </div>
      <div class="col-md-6 order-1">
        <div class="p-5">
          <p>Precisamente todas las desigualdades y discriminaciones que vivimos las mujeres son muchas veces la causa
            del mayor empobrecimiento y de las dificultades económicas.</p>
          <p>Con tu aporte podremos ayudar a más mujeres en cada rincón..
            Una donación es la mejor muestra de solidaridad que puede existir y tu colaboración es vital para nosotros.
          </p>
          <p>Cada pequeño gesto suma.</p>
          <h4>Gracias por hacerlo posible.<br/>
          <span style="color:#409041;">DONAR TAMBIÉN ES UNA MANERA DE AYUDAR.</span>
          </h4>
      </div>
      </div>
    </div>
  </div>
</section>
<br />
<br />
<br />
<div class="d-flex justify-content-center">
  <h4>Ayudas con tu aporte económico a otra mujer que esté siendo atendida con alguna de nuestras
    especialistas.
  </h4>
</div>

         <!-- <a class="btn" href="#" role="button" style="background-color:blueviolet;color:floralwhite">DONAR AQUÍ</a>-->
         <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content"  style="background-color: #79C27B;">
             <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Registro<h4 class="modal-title w-100 font-weight-bold" style="color: #90107F;">Donación</h4></h4>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body mx-3">
               <div class="md-form mb-3">
                 <input type="text" id="orangeForm-name" class="form-control validate" placeholder="Nombre">
                 <label data-error="wrong" data-success="right" ></label>
               </div>
               <div class="md-form mb-3">
                <input type="text" id="orangeForm-name" class="form-control validate" placeholder="Apellido">
                <label data-error="wrong" data-success="right" ></label>
              </div>
              <div class="md-form mb-3">
                <input type="text" id="orangeForm-name" class="form-control validate" placeholder="RUT">
                <label data-error="wrong" data-success="right" ></label>
              </div>
              <div class="md-form mb-3">
                <input type="text" id="orangeForm-name" class="form-control validate" placeholder="Telefono">
                <label data-error="wrong" data-success="right" ></label>
              </div>
              <div class="md-form mb-3">
                <input type="text" id="orangeForm-name" class="form-control validate" placeholder="Dirección">
                <label data-error="wrong" data-success="right" ></label>
              </div>
              <div class="md-form mb-3">
                <input type="text" id="orangeForm-name" class="form-control validate" placeholder="Ciudad">
                <label data-error="wrong" data-success="right" ></label>
              </div>
              <div class="md-form mb-3">
                <input type="text" id="orangeForm-name" class="form-control validate" placeholder="Estado / Provincia / Región">
                <label data-error="wrong" data-success="right" ></label>
              </div>
              <div class="md-form mb-3">
                <input type="text" id="orangeForm-name" class="form-control validate" placeholder="ZIP / Código Postal">
                <label data-error="wrong" data-success="right" ></label>
              </div>
              <div class="md-form mb-3">
                <input type="text" id="orangeForm-name" class="form-control validate" placeholder="País">
                <label data-error="wrong" data-success="right" ></label>
              </div>
              <div class="md-form mb-4">
                <input type="password" id="orangeForm-pass" class="form-control validate" placeholder="Valor de la donación">
                <label data-error="wrong" data-success="right" for="orangeForm-pass">(Escribe el valor de la donación)</label>
              </div>
               <div class="md-form mb-6">
                 <input type="password" id="orangeForm-pass" class="form-control validate" placeholder="Comentario">
                 <label data-error="wrong" data-success="right" for="orangeForm-pass">¿Quieres comentarnos algo relativo a tu donación? Este es el sitio.</label>
               </div>

             </div>
             <div class="modal-footer d-flex justify-content-center">
              <button type="button" class="btn" style="background-color: #EBEBE3;">DONAR AHORA</button>
             </div>
           </div>
         </div>
       </div>

       <div class="text-center">
         <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm"style="background-color:blueviolet;color:floralwhite">DONAR AQUÍ</a>
       </div>

