<app-navbar></app-navbar>
<div>
  <button routerLink='/home' class="backHome">Home</button>

  <button type="button" routerLink='/datadonations' class="btn"style="background-color: #EBEBE3;">Donar</button>

</div>
<img src="/assets/img/dona.jpg" class="rounded mx-auto d-block" width="850" height="350" alt="Responsive image">
<!-- Grid column -->
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="/assets/img/madrina2.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6 order-1">
        <div class="p-5">
          <h2 class="display-4">Dona</h2>
          <p>Con tu aporte podremos ayudar a mas mujeres en cada rincon.
            Una donación es la mejor muestra de solidaridad que puede existir y tu colaboración es vital para nosotros. </p>
          <p>Cada pequeño gesto suma.</p>
          <p>Gracias por hacerlo posible.</p>
          <h3>DONAR TAMBIÉN ES UNA MANERA DE AYUDAR.</h3>
          <a class="btn" href="#" role="button" style="background-color:blueviolet;color:floralwhite">DONAR AQUÍ</a>
        </div>
      </div>
    </div>
  </div>
</section>
