<router-outlet></router-outlet>
<app-navbar></app-navbar>

<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="assets/img/madrina.jpg" alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <div class="d-flex justify-content-end">

          <!-- <button type="button" routerLink='/timegodmothers' class="btn">
            <h3 class="display-4 col-6">Amadrinar a una mujer</h3>
          </button>-->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="assets/img/dona.jpg" alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Donaciones</h3>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="assets/img/doctora.jpg" alt="Third slide">
        <div class="mask rgba-black-slight"></div>

      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Profesionales de la salud</h3>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
<br><br>
<section>
  <div class="d-flex justify-content-center">
    <h3>¿Qué es violencia de género?</h3>
  </div>
</section>
<section>
  <div class="d-flex justify-content-center">
    <p class="ml-5 col-10"> Según la ONU, el 35% de las mujeres de todo el mundo ha sufrido violencia de género, está es
      "toda conducta que atenta contra la dignidad e integridad física y moral de las mujeres por el hecho de serlo,
      como manifestación de la discriminación, la situación de desigualdad y las relaciones de poder de los hombres
      sobre las mujeres </p>
  </div>
</section>
<br><br>
<section>
  <ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist">
    <li class="nav-item" style="background-color:#B8EAC7;text-decoration:none;display:block;">
      <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab"
        aria-controls="home-just" aria-selected="true">Violencia Obstetrica</a>
    </li>
    <li class="nav-item" style="background-color:#79C27B;text-decoration:none;display:block;">
      <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#profile-just" role="tab"
        aria-controls="profile-just" aria-selected="false">Violencia y/o Abuso Sexual</a>
    </li>
    <li class="nav-item" style="background-color:#C60F8E;text-decoration:none;display:block;">
      <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#contact-just" role="tab"
        aria-controls="contact-just" aria-selected="false">Violencia Psicológica</a>
    </li>
    <li class="nav-item" style="background-color:#90107F;text-decoration:none;display:block;">
      <a class="nav-link" id="done-tab-just" data-toggle="tab" href="#done-just" role="tab" aria-controls="done-just"
        aria-selected="false">Violencia Física</a>
    </li>
  </ul>
</section>
<section>
  <div class="tab-content card pt-5" id="myTabContentJust">
    <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">
      <p class="ml-5">Es aquélla que ejerce el personal de salud sobre el cuerpo y los procesos reproductivos de las
        mujeres, expresada en un trato deshumanizado, un abuso de medicalización y patologización de los procesos
        naturales.</p>
    </div>
    <div class="tab-pane fade" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-just">
      <p class="ml-5">Imposición de una relación sexual no consentida. Existen tres modos de maltrato sexual: abuso
        sexual, agresión sexual y acoso sexual.
      </p>
    </div>
    <div class="tab-pane fade" id="contact-just" role="tabpanel" aria-labelledby="contact-tab-just">
      <p class="ml-5">Hostilidad verbal o no verbal reiterada que produce humillación, miedo, temor y que perjudica la
        estabilidad de la mujer con graves secuelas para su salud mental y/o autoestima. Se manifiesta en: amenazas,
        vejaciones, exigencias de obediencia, coacción verbal , insultos, aislamiento, e incluso privación de la
        libertad.</p>
    </div>
    <div class="tab-pane fade" id="done-just" role="tabpanel" aria-labelledby="done-tab-just">
      <p class="ml-5">Acción no accidentada, por parte del hombre, que provoque o pueda producir daño físico o
        enfermedad en la mujer, o que la coloque en grave riesgo de padecerla.</p>
    </div>
  </div>
</section>

<!-- Inicio del section -->

<section>
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="p-5">
        <img src='/assets/img/No-mas-violencia.jpg'
          style="background-repeat: no-repeat; background-size: cover; background-position: center center;">
      </div>
    </div>
  </div>
</section>
