<router-outlet></router-outlet>
<app-navbar></app-navbar>

<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="assets/img/madrina.jpg" alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <div class="d-flex justify-content-end">

         <!-- <button type="button" routerLink='/timegodmothers' class="btn">
            <h3 class="display-4 col-6">Amadrinar a una mujer</h3>
          </button>-->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="assets/img/dona.jpg" alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Donaciones</h3>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="assets/img/doctora.jpg" alt="Third slide">
        <div class="mask rgba-black-slight"></div>

      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Profesionales de la salud</h3>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<div class="d-flex justify-content-center">
  <h3>¿Cómo identificar violencia de género?</h3>
</div>
<p> El abuso sexual se determina también por la intimidación psicológica,
  extorsión, amenazas, daño físico y hostigamiento. No implica ni edad,
  ni estatus económico ni mucho menos el físico; tampoco tiene nada que ver alguna enfermedad o
  el daño provocado por algún medicamento o droga. </p>
<ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab"
      aria-controls="home-just" aria-selected="true">Paralizarse por temor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#profile-just" role="tab"
      aria-controls="profile-just" aria-selected="false">Chantaje emocional</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#contact-just" role="tab"
      aria-controls="contact-just" aria-selected="false">Estado de ebriedad</a>
  </li>
</ul>
<div class="tab-content card pt-5" id="myTabContentJust">
  <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">
    <p> Paralizarse es una forma de manifestar el miedo y la angustia del momento. Se cree también que la sorpresa que
      causa el que alguien intente ultrajar la integridad
      física o llegue a realizarlo es motivo para quedar completamente paralizado. Del mismo modo, es un mecanismo de
      defensa que ejerce la persona debido al temor de sufrir otro tipo de represalias en caso de oponerse o intentar
      huir.
      Así que "paralizarse" y no poder negarse,
      es considerado violación.</p>
  </div>
  <div class="tab-pane fade" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-just">
    <p>Si la chica en cuestión no se siente preparada, con ánimos o con el deseo sexual suficiente, nadie debe
      obligarla.
    </p>
  </div>
  <div class="tab-pane fade" id="contact-just" role="tabpanel" aria-labelledby="contact-tab-just">
    <p> Si la persona está bajo los efectos de drogas, alcohol, medicamentos o algún sedante y la otra persona se
      aprovecha, es un ejemplo de violación ya que no está en condiciones de decidir realmente, sino que lo hace por
      inercia. En muchos de los casos en que se ha denunciado esta acción, los violadores aseguran que la culpa es de la
      víctima por no saber cuándo controlarse. Lo cierto es que ninguna persona pide ser violentada sexualmente, además
      de la situación, se sigue condenando socialmente a las mujeres por beber en exceso, cuando en realidad, el punto
      importante y a discutir debe ser que nadie debe aprovecharse
      del estado de ebriedad y ofuscación de alguien más.</p>
  </div>
</div>
